<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-inline">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <%= link_to "About", root_path(anchor: "about") %>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <%= link_to "Services", root_path(anchor: "services") %>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <%= link_to "Contact", root_path(anchor: "contact") %>
                    </li>
                </ul>
                <p class="copyright text-muted small">Copyright &copy; Anna Atiba 2015. All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>