// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  // padding-top: 50px;
  padding-bottom: 20px;
}

.jumbotron {
	background-color: #fff !important;
}

span, .header-links a {
	font-family: 'Helvetica Neue';
	text-decoration: underline !important;
	color: #000;
	font-size: 4em;
	font-weight: 600;
	line-height: 1.1em;
	&:hover {
		color: #ff0000;
	}

}

span {
	color: red;
	text-decoration: none !important;
}

#top-text,
#gallery-header {
	font-family: 'Helvetica Neue';
	font-weight: 600;
	font-size: 2em;
	padding: 5px 0 0 0; 
}

#gallery-header {
	padding-top: 0;
}

@media screen and (max-width: 600px) {
	span, .header-links a {
		font-family: 'Helvetica Neue';
		text-decoration: underline !important;
		color: #000;
		font-size: 1.3em;
		font-weight: 600;
		line-height: 1.1em;
		&:hover {
			color: #ff0000;
		}

	}

	span {
		color: white;
		text-decoration: none !important;
	}

	#top-text,
	#gallery-header {
		font-family: 'Helvetica Neue';
		font-weight: 600;
		font-size: 1.5em;
		padding: 5px 0 0 0; 
	}

	#gallery-header {
		padding-top: 0;
	}
}


// BOOKLIST


#booklist {
	background-color: #339955;
	padding-bottom: 10px;
	h1 {
		margin-top: 0;
		padding-top: 10px;
		font-weight: 500;
		color: #000;
	}

	p {
		padding: 0 4em 0;
		text-align: justify;
	}

	p a {
		font-weight: 100;
		font-size: 2em;
		color: black;
		margin-right: 10px;
		line-height: 1.1;
		&:hover {
			color: white;
		}
	}

	.home-link {
		color: white;
		font-weight: 200;
		font-size: 1.8em;
	}
}

.reading-h1 {
	font-weight: 800;
	text-align: center;
	color: white;

}	


#articles-bck-color {
	background-color: #53c679;
	padding-top: 5px;
	padding-bottom: 100%;

	p {
		padding: 0 4em 0;
		text-align: justify;
	}

	p a {
		font-weight: 100;
		font-size: 2em;
		color: black;
		margin-right: 10px;
		line-height: 1.1;
		&:hover {
			color: white;
		}
	}

	.book-para-neue {
		color: white;
		font-size: 0.7em;

	}
}



#bio {

	// #bio-body {
	// 	max-width: 800px;
	// }
	p {
		text-align: justify;
	}

	.bio-para {
		text-align: justify;
		a {
			color: #333;
		}

		.home-link a {
			color: red;
		}
	}

	.image-tag {
		display: block;
		margin: 0 auto;
	}
}

.home-link {
	font-size: 1em;
	color: #777;
}


