// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.jumbotron {
	background-color: red !important;
}

span, .header-links a {
	font-family: 'Helvetica Neue';
	text-decoration: underline !important;
	color: #000;
	font-size: 4em;
	font-weight: 600;
	line-height: 1.1em;
	&:hover {
		color: #fff;
	}

}

span {
	color: white;
	text-decoration: none !important;
}
