<div class="container" id="gallery">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>hooligan</h2>
          <p>A football news aggregator for football fans, by a football fan. <span style="font-size: 0.8em; color: rgba(0, 0, 0, 0.4); display: block; text-align: justify;">This application was my second project for General Assembly.  I built it using Rails 4, MongoDB, with Nokogiri and Mechanize for webscraping and soon with the Aylien Text Analysis API for text summarization. I chose to use web scraping after I realized that no API had the particular spectrum of information that I wanted.  I used RSpec, Factory Girl, and CircleCI for integrated testing.  The user can view a selection of football articles, write comments, and read other user's content in real time.  This project was inspired by my experiences in Barcelona, gradually becoming a football fan in the long, leisurely hours spent watching the sport and discussing research projects with my fellow students. It helped that the Faculty of Physical Chemistry, our home department, was located a stone's throw from Camp Nou.</span></p>
          <p><a class="btn btn-default" href="https://hooligans.herokuapp.com" role="button" target="_blank">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>assemblr</h2>
          <p>A social network for the GA community.<span style="font-size: 0.8em; color: rgba(0, 0, 0, 0.4); display: block; text-align: justify;">This application was my third project at General Assembly and my first group project.  Team members were <%= link_to "Kevin Yang", "https://github.com/kyangy", target: '_blank' %> and <%= link_to "Jonathan Thomas Fung", "https://github.com/jonathanth0mas/", target: '_blank' %>. The site was built with Rails 4, PostgreSQL, RSpec, Factory Girl, and CircleCI for integrated testing. The original version of the project integrated the Linkedin API: we allowed users to log in with their LinkedIn credentials and populate their General Assemblr profile page with their photo, positions, education, etc. The project provided a valuable lesson about <%= link_to "not relying too heavily on 3rd party APIs", "http://techcrunch.com/2015/02/12/linkedin-battens-down-the-hatches-on-api-use-limiting-full-access-to-partners/#TRjtal:1Z2G", target: '_blank' %>. Version 2, which I am currently working on, will allow users to display their favorite Github repos and also to connect to Codewars directly from our application site. However, I am integrating these APIs in a way that will enhance the application if present, but will not break the application in the event that the permissions change.  I will link to the updates here.</span></p>
          <p><a class="btn btn-default" href="https://assemblr.herokuapp.com" role="button" target="_blank">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>curator</h2>
          <p>A journaling site that uses natural language processing to curate art.<span style="font-size: 0.8em; color: rgba(0, 0, 0, 0.4); display: block; text-align: justify;">This was my fourth and final project for the WDI program.  I used Rails 4, MongoDB, RSpec, Factory Girl and CircleCI for testing.  I used the Skyttle Sentiment Analysis API to parse the text for keywords, and phrase and document level polarity analysis.  I saved the keywords and used a randomized subset as a search parameter for objects in the Rijksmuseum, the Brooklyn Museum, and the Cooper Hewitt Design Museum. The end goal is that the user can explore a selection of artwork curated by the keywords in the text they've written.  Currently, I am working on site security, and updating styling.  I am also adding the ability for users to save favorite images, and adding functionality to the keyword select feature on the post show pages.</span></p>
          <p><a class="btn btn-default" href="https://nlp-curator.herokuapp.com" role="button"target="_blank">View details &raquo;</a></p>
        </div>
      </div>

      <!-- <hr>

      <footer>
        <p>&copy; Anna Atiba 2015</p>
      </footer> -->
</div> <!-- /container -->
