<div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>hooligan</h2>
          <p>A football news aggregator for football fans, by a football fan. <span style="font-size: 0.8em; color: rgba(0, 0, 0, 0.4); display: block; text-align: justify;">Terms of Service: The user agrees to use of 'football' over 'soccer' unless they can prove both American citizenship and that they've never accessed the Internet. Scout's honor.</span></p>
          <p><a class="btn btn-default" href="https://hooligans.herokuapp.com" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>assemblr</h2>
          <p>A social network for the GA community, past, present, and future.</p>
          <p><a class="btn btn-default" href="https://assemblr.herokuapp.com" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>curator</h2>
          <p>A journaling site that uses natural language processing to curate art.<span style="font-size: 0.8em; color: rgba(0, 0, 0, 0.4); display: block; text-align: justify;">User flow: Write a blog post. Click submit. Behind the scenes, keyword extraction and document and phrase-level sentiment analysis takes place. Using a keyword as a search term, artwork from the Rijksmuseum, Cooper Hewitt Design Museum, or Brooklyn Museum is displayed for the user. Click the image to see the item's permanent page.</span></p>
          <p><a class="btn btn-default" href="https://nlp-curator.herokuapp.com" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <!-- <hr>

      <footer>
        <p>&copy; Anna Atiba 2015</p>
      </footer> -->
</div> <!-- /container -->
